# Ignore IDE-specific files
# NetBeans
TheSnakeGame/TheSnakeGame/nbproject/private/

# Ignore build output directories
TheSnakeGame/TheSnakeGame/build/

# Ignore compiled class files
*.class

# Ignore packaged files (JAR, WAR, EAR)
*.jar
*.war
*.ear

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp
*.bak

# Ignore additional files
*.iml
